@{
    ViewData["Title"] = "Login";
}

<div class="auth-content">
  <div class="top-bar"></div>

  <div class="login-container">
      <div class="login-card py-5 px-5">
          <h4 class="d-flex text-dark-blue fw-bold justify-content-center fs-5 align-items-center">Bem-vindo(a) ao <img src="~/images/logo@400x100-bold-dark.png" alt="TalentHub logo" height="30"></h4>
          <p class="text-muted mt-5 pt-3">Faça login ou cadastre-se rapidamente</p>

          <a asp-controller="Auth" asp-action="LoginWithGoogle" class="google-login-btn d-flex align-items-center mt-4">
            <img src="~/images/google@50x50-light.png" alt="Google Icon" height="40"/> <div class="w-75 text-center fs-5">Conta Google</div>
        </a>
      </div>
  </div>
</div>

<link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />