@{
    ViewData["Title"] = "Gerenciar projetos";
}

<div class="home-content mb-5">
    <div class="top-bar d-flex align-items-center">
        <div class="w-100 text-center fs-1 fw-bold text-white">Termo de Uso</div>
    </div>

    <div class="container content-container mt-2">
        <div class="row">
            <div class="col-md-12">
                <div class="mx-auto w-75 conteudo-termo">
                    <div class="mb-3 pt-3">
                        <h4 class="fw-bold">1. Aceitação do Termo</h4>
                        <p class="text-muted">
                            Ao criar uma conta e/ou utilizar o TalentHub, você concorda integralmente com os termos e condições estabelecidos neste documento. Se você não concorda com algum dos termos e condições, por favor, não utilize o TalentHub.
                        </p>
                        
                        <h4 class="fw-bold">2. Descrição da Aplicação</h4>
                        <p class="text-muted">
                            O TalentHub é uma aplicação que não possui personalidade jurídica, não possui registro de CNPJ e não tem fins lucrativos. A plataforma permite aos usuários visualizar, criar e editar projetos de software desenvolvidos no âmbito dos cursos da PUC Minas, utilizando informações públicas fornecidas pela API do GitHub.
                        </p>
                        
                        <h4 class="fw-bold">3. Direitos Autorais e Propriedade de Conteúdo</h4>
                        <h5 class="fw-bold">3.1 Transferência de Propriedade</h5>
                        <p class="text-muted">
                            A transferência de propriedade de um projeto pode ser realizada mediante acordo entre o proprietário original e outro usuário. Este acordo deve ser feito por meio de um tópico novo ou comentário no tópico fixado nas Discussões no repositório original do TalentHub. O link para o tópico de pedidos de transferência de propriedade é: <a href="https://github.com/ICEI-PUC-Minas-PMV-ADS/pmv-ads-2024-1-e2-proj-int-t8-pmv-ads-2024-1-e2-talenthub/discussions/60">Discussão no GitHub</a>. Ambas as partes devem estar em sintonia para que a troca de propriedade seja efetuada.
                        </p>

                        <h4 class="fw-bold">4. Uso da Aplicação</h4>
                        <p class="text-muted">
                            O usuário compromete-se a utilizar o TalentHub de maneira responsável, respeitando as normas de direito autoral e demais leis aplicáveis.
                        </p>

                        <h4 class="fw-bold">5. Isenção de Responsabilidade</h4>
                        <p class="text-muted">
                            O TalentHub não se responsabiliza por qualquer conteúdo postado pelos usuários, incluindo, mas não se limitando a, a precisão, legalidade, ou a natureza dos projetos postados.
                        </p>

                        <h4 class="fw-bold">6. Modificações dos Termos</h4>
                        <p class="text-muted">
                            O TalentHub reserva-se o direito de modificar este Termo a qualquer momento. As alterações entrarão em vigor imediatamente após a publicação do Termo modificado na aplicação.
                        </p>

                        <h4 class="fw-bold">7. Lei Aplicável e Jurisdição</h4>
                        <p class="text-muted">
                            Este Termo será regido e interpretado de acordo com as leis do Brasil, e qualquer disputa relacionada a este Termo será submetida à jurisdição exclusiva dos tribunais brasileiros.
                        </p>

                        <p class="text-end text-muted">
                            Data da Última Atualização: 10 de maio de 2024, às 12:00 PM
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/termos.css" asp-append-version="true" />
