@model TalentHub.Models.Projeto

@{
    ViewData["Title"] = "Criar projeto";
}

<h2>Criar Projeto</h2>

<form asp-action="Criar" method="post" class="my-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="NomeProjeto" class="control-label">Nome do Projeto</label>
        <input asp-for="NomeProjeto" class="form-control" placeholder="Insira o nome do projeto" />
        <span asp-validation-for="NomeProjeto" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="DescricaoProjeto" class="control-label">Descrição do Projeto</label>
        <textarea asp-for="DescricaoProjeto" class="form-control" placeholder="Insira a descrição do projeto"></textarea>
        <span asp-validation-for="DescricaoProjeto" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <div class="row">
            <div class="col-2">
                <label asp-for="Ano" class="control-label">Ano</label>
                <input asp-for="Ano" class="form-control" placeholder="Ano" maxlength="4" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="Periodo" class="control-label">Período</label>
                <input asp-for="Periodo" class="form-control" placeholder="Período" maxlength="1" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label asp-for="Categoria" class="control-label">Categoria</label>
                <select asp-for="Categoria" asp-items="@(ViewBag.CategoriaOptions)" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <div class="row">
            <div class="col-12">
                <label asp-for="PalavraChave" class="control-label">Palavras chave</label>
                <textarea asp-for="PalavraChave" class="form-control" placeholder="Insira as palavras chave para o projeto"></textarea>
                <span asp-validation-for="PalavraChave" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group mb-3">
        <label asp-for="UrlRepositorio" class="control-label">URL do Repositório</label>
        <input asp-for="UrlRepositorio" class="form-control" placeholder="https://exemplo.com/repositorio" />
        <span asp-validation-for="UrlRepositorio" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="UrlAplicacao" class="control-label">URL da Aplicação</label>
        <input asp-for="UrlAplicacao" class="form-control" placeholder="https://exemplo.com/aplicacao" />
        <span asp-validation-for="UrlAplicacao" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Integrantes" class="control-label">Integrantes</label>
        <input asp-for="Integrantes" class="form-control" placeholder="Nome dos integrantes separados por vírgula" />
        <span asp-validation-for="Integrantes" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>

<div style="margin-top: 10px;">
    <a asp-action="Index">Voltar para a lista</a>
</div>
