:root {
  --dark-blue: #334686;
  --dark-gray: #2d303e;
  --darker-gray: #1f232c;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f6f7f8;
}

.text-dark-blue {
  color: var(--dark-blue) !important;
}

.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}

.bg-darker-gray {
  background-color: var(--darker-gray) !important;
}

.top-bar {
  background-color: #367cff;
  border-radius: 14px;
  height: 14rem;
}

.main-content {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.content-container {
  padding-top: 40px;
}

.encoded-sans {
  font-family: "Encode Sans", sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.fs-55 {
  font-size: 1.1rem;
}

.list-group-item {
  padding: 6px 0 6px 0;
}

.search-btn:disabled {
  opacity: 0.5;
}
